# Ham or Spam?

In [33]:
# when installing nltk for the first time we need to also download a few built in libraries
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

Requirement already satisfied: nltk in c:\users\utilisateur\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\utilisateur\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...

True

In [14]:
import pandas as pd

df = pd.read_pickle("email")

df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

## Remove Punctuation

üëá Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [41]:
import string

clean_text = df

for t in clean_text.loc[:, 'text']:
    newt = t
    for p in string.punctuation:
        newt = newt.replace(p, "")
    clean_text = clean_text.replace(t, newt)
        
clean_text.head()

                                                text  spam
0  Subject naturally irresistible your corporate ...     1
1  Subject the stock trading gunslinger  fanny is...     1
2  Subject unbelievable new homes made easy  im w...     1
3  Subject 4 color printing special  request addi...     1
4  Subject do not have money  get software cds fr...     1

## Lower Case

üëá Create a function to lower case the text. Apply it to `clean_text`

In [42]:
for t in clean_text.loc[:, 'text']:
    newt = t.lower()
    clean_text = clean_text.replace(t, newt)
        
clean_text.head()

                                                text  spam
0  subject naturally irresistible your corporate ...     1
1  subject the stock trading gunslinger  fanny is...     1
2  subject unbelievable new homes made easy  im w...     1
3  subject 4 color printing special  request addi...     1
4  subject do not have money  get software cds fr...     1

## Remove Numbers

üëá Create a function to remove numbers from the text. Apply it to `clean_text`

In [43]:
for t in clean_text.loc[:, 'text']:
    newt = ''.join(w for w in t if not w.isdigit())
    clean_text = clean_text.replace(t, newt)
        
clean_text.head()

                                                text  spam
0  subject naturally irresistible your corporate ...     1
1  subject the stock trading gunslinger  fanny is...     1
2  subject unbelievable new homes made easy  im w...     1
3  subject  color printing special  request addit...     1
4  subject do not have money  get software cds fr...     1

## Remove StopWords

üëá Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [44]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stopw = set(stopwords.words('english'))

for t in clean_text.loc[:, 'text']:
    newt = word_tokenize(t)
    newt = ' '.join(w for w in newt if not w in stopw)
    clean_text = clean_text.replace(t, newt)
        
clean_text.head()

                                                text  spam
0  subject naturally irresistible corporate ident...     1
1  subject stock trading gunslinger fanny merrill...     1
2  subject unbelievable new homes made easy im wa...     1
3  subject color printing special request additio...     1
4  subject money get software cds software compat...     1

## Lemmatize

üëá Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [45]:
from nltk.stem import WordNetLemmatizer

lem = WordNetLemmatizer()

for t in clean_text.loc[:, 'text']:
    newt = word_tokenize(t)
    newt = ' '.join(lem.lemmatize(w) for w in newt)
    clean_text = clean_text.replace(t, newt)
        
clean_text.head()

                                                text  spam
0  subject naturally irresistible corporate ident...     1
1  subject stock trading gunslinger fanny merrill...     1
2  subject unbelievable new home made easy im wan...     1
3  subject color printing special request additio...     1
4  subject money get software cd software compati...     1

## Bag-of-words Modelling

üëá Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [54]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()

X_bow = vect.fit_transform(clean_text.text)

X_bow.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

üëá Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [56]:
from sklearn.naive_bayes import MultinomialNB

y = clean_text.spam

nbmodel = MultinomialNB()

nbmodel.fit(X_bow,y)
nbmodel.score(X_bow,y)

0.9949371508379888

‚ö†Ô∏è Please push the exercise once you are done üôÉ

## üèÅ